@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: #3B0855;
  --desk-color: #852467;
  --tile-color: #FD8083;
  --primary-color: #EE228D;
  --secondary-color: #498099;
  --white-color: #fff;

  --fonts: "Noto Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--white-color);

  font-family: var(--fonts);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  max-width: 420px;
  height: auto;
  text-align: center;
  margin: 0px auto;
}

.game-container {
  position: relative;
  width: 390px;
  height: 390px;
  background-color: var(--desk-color);
  border: 5px solid var(--primary-color);
  border-radius: 5px;
}

.shuffle-btn {
  display: block;
  position: relative;
  top: 20px;
  padding: 10px 30px;
  font-family: var(--fonts);
  font-size: 1.5rem;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
}

.shuffle-btn:hover {
  background-color: var(--primary-color);
}

.shuffle-btn:active {
  background-color: var(--tile-color);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
